.checkout-card {
	background: #343a40;
	color: orange;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1em;
}

.checkout-card-title {
	font-family: "Batman";
	font-weight: bold;
}

.checkout-input-field {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
	border: 2px solid orange;
}

.checkout-input-field:focus {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
	border: 2px solid orange;
}

.checkout-input-field:active {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
	border: 2px solid orange;
}

.payment-method-type-select {
	background-color: #343a40;
	border: 2px solid orange;
	color: orange;
	font-weight: bold;
}

.payment-method-type-select:focus {
	background-color: #343a40;
	border: 2px solid orange;
	color: orange;
	font-weight: bold;
}

.payment-method-type-select:active {
	background-color: #343a40;
	border: 2px solid orange;
	color: orange;
	font-weight: bold;
}

.checkout-error-msg {
	font-weight: bold;
	color: orange;
}

.next-step-checkout-btn {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
	font-family: "Batman";
	border: 2px solid orange;
}

.next-step-checkout-btn:hover {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.next-step-checkout-btn:focus {
	background-color: orange;
	color: #343a40;
}

.next-step-checkout-btn:active {
	background-color: orange;
	color: #343a40;
}

.modal-content {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.payment-slip-modal-title {
	font-family: "Batman";
}

.download-slip-btn {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
	font-family: "Batman";
	border-color: orange;
	border: 2px solid orange;
}

.download-slip-btn:hover {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.download-slip-btn:focus {
	background-color: orange;
	color: #343a40;
}

.download-slip-btn:active {
	background-color: orange;
	color: #343a40;
}
