.main-container {
  display: flex;
}

.filter-button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(33, 37, 41);
  color: orange;
  font-weight: bold;
  width: 100%;
  max-width: 100px;
}

.modal-content {
  background-color: rgb(33, 37, 41);
  color: orange;
  font-weight: bold;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.btn-close {
  background-image: url("../images/orange-cross.png");
}

.confirm-filter-btn {
  background-color: orange;
  color: rgb(33, 37, 41);
  font-weight: bold;
}

.search-bar {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 50px;
  color: orange;
  font-weight: bold;
  background-color: rgb(33, 37, 41);
  border: 1px solid rgb(33, 37, 41);
}

.search-bar:focus {
  background-color: rgb(33, 37, 41);
  color: orange;
  font-weight: bold;
}

.search-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(33, 37, 41);
  color: orange;
  font-weight: bold;
  width: 100%;
  max-width: 100px;
}

@media screen and (min-width: 768px) {
  .filter-button,
  .search-bar,
  .search-btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
