.news-comment-title {
	font-family: "Batman";
}

.news-comment-input,
.news-comment-input:read-only {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
	height: 130px !important;
	resize: none;
}

.news-comment-input:focus {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
	height: 130px !important;
	resize: none;
}

.news-comment-input:active {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
	height: 130px !important;
	resize: none;
}

.news-comment-field-error-msg {
	font-weight: bold;
	color: orange;
	font-size: 80%;
}

.news-comment-btn {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
	font-family: "Batman";
	border: 2px solid orange;
	height: 40px;
	margin-top: 10px;
	margin-right: 5px;
}

.news-comment-btn:hover {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.news-comment-btn:focus {
	background-color: orange;
	color: #343a40;
}

.news-comment-btn:active {
	background-color: orange;
	color: #343a40;
}
