.news-list-row {
	margin-top: 20px;
}

.news-article-card {
	background: #343a40;
	color: orange;
}

.news-list-buttons {
	background-color: orange;
	color: #343a40;
	font-weight: bold;
	font-family: "Batman";
	border: 2px solid #343a40;
}

.news-list-buttons:hover {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
	transition: 0.7s;
}

.news-list-buttons:focus {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
}

.news-list-buttons:active {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding-top: 20px;
}

.page-link {
	background: #343a40;
	color: orange;
	border: 1px solid #343a40;
	font-weight: bold;
}

.page-link:hover {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-link:focus {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-link:active {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-item.disabled .page-link {
	background: #343a40;
	color: orange;
	border: 1px solid #343a40;
	font-weight: bold;
}

.page-item.active .page-link {
	background-color: orange;
	color: #343a40;
	font-weight: bold;
}
