.product-detail-card {
	background: #343a40;
	color: orange;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.product-detail-card-image {
	max-width: 450px;
	max-height: 450px;
}

.product-detail-description-card {
	background: #343a40;
	color: orange;
}

.product-detail-description-card-footer {
	padding: 0.55rem 0.9rem !important;
}

.product-detail-description-title {
	margin-left: 10px;
	margin-top: 5px;
}

.product-detail-table {
	color: orange !important;
}

.product-detail-table td {
	width: 100%;
	border-top: none !important;
	overflow-wrap: break-word;
}

.product-detail-table th {
	width: 40%;
	border-top: none !important;
	overflow-wrap: break-word;
}

@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px) {
	.product-detail-table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	.product-detail-table td:before {
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}
