.product-detail-card {
	padding-top: 20px;
}

.product-detail-card-with-image {
	background: #343a40;
	color: orange;
}

.product-detail-card-image {
	height: auto;
}

.product-detail-table-card {
	background: #343a40;
}

.product-detail-table {
	color: orange !important;
}

@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px) {
	.product-detail-table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	.product-detail-table td:before {
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}

.product-detail-table td {
	width: 60%;
	border-top: none !important;
}

.product-detail-table th {
	width: 40%;
	border-top: none !important;
}

.amount-product-select {
	margin-top: 10px;
	background-color: #343a40;
	border: 2px solid orange;
	color: orange;
	font-weight: bold;
}

.amount-product-select:focus {
	background-color: #343a40;
	border: 2px solid orange;
	color: orange;
	font-weight: bold;
}

.amount-product-select:active {
	background-color: #343a40;
	border: 2px solid orange;
	color: orange;
	font-weight: bold;
}

.add-to-cart-btn {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
	font-family: "Batman";
	border: 2px solid orange;
	width: 100%;
	max-width: 200px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.add-to-cart-btn:hover {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.add-to-cart-btn:focus {
	background-color: orange;
	color: #343a40;
}

.add-to-cart-btn:active {
	background-color: orange;
	color: #343a40;
}

.Toastify__toast--success {
	background-color: orange !important;
	color: #343a40 !important;
	font-weight: bold !important;
}

.Toastify__close-button {
	color: #343a40 !important;
}
