.products-view-card {
	width: 10vw;
	min-width: 120px;
	max-width: 160px;
	background: #343a40;
	color: orange;
}

.products-view-card:hover {
	cursor: pointer;
}

.products-view-card-image {
	width: 100%;
	height: auto;
}

.products-view-pagination-padding {
	padding-top: 380px;
}

.products-view-pagination-padding-normal {
	padding-top: 20px;
}
