.purchase-history-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.purchase-history-card {
	background: #343a40;
	color: orange;
}

.purchase-history-card-title {
	font-weight: bold;
}

.purchase-history-buttons {
	background-color: orange;
	color: #343a40;
	font-weight: bold;
	font-family: "Batman";
	border: 2px solid #343a40;
}

.purchase-history-buttons:hover {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
	transition: 0.7s;
}

.purchase-history-buttons:focus {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
}

.purchase-history-buttons:active {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
}

.purchase-detail-table {
	color: orange !important;
}

.purchase-detail-table tr {
	border-bottom: 2px solid orange !important;
}

.purchase-detail-table th {
	border-top: none !important;
	text-align: center;
	vertical-align: middle;
	word-break: break-all;
}

.purchase-detail-table td {
	border-top: none !important;
	text-align: center;
	vertical-align: middle;
	word-break: break-all;
}

@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px) {
	.purchase-detail-table,
	thead,
	tbody,
	tfoot,
	th,
	td,
	tr {
		display: block;
	}
	.purchase-detail-table th {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.purchase-detail-table td:before {
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.purchase-detail-table tbody td:nth-of-type(1):before {
		content: "Name:";
		font-weight: bold;
	}
	.purchase-detail-table tbody td:nth-of-type(2):before {
		content: "Price:";
		font-weight: bold;
	}
	.purchase-detail-table tbody td:nth-of-type(3):before {
		content: "Quantity:";
		font-weight: bold;
	}
	.purchase-detail-table tbody td:nth-of-type(4):before {
		content: "Amount:";
		font-weight: bold;
	}
}

.purchase-detail-jumbotron {
	background-color: #343a40 !important;
	margin-bottom: 0 !important;
	padding: 1rem !important;
}

.page-link {
	background: #343a40;
	color: orange;
	border: 1px solid #343a40;
	font-weight: bold;
}

.page-link:hover {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-link:focus {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-link:active {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-item.disabled .page-link {
	background: #343a40;
	color: orange;
	border: 1px solid #343a40;
	font-weight: bold;
}

.page-item.active .page-link {
	background-color: orange;
	color: #343a40;
	font-weight: bold;
}
