.registered-users-row {
	margin: auto;
	padding: 10px;
}

.registered-user-card {
	background: #343a40;
	color: orange;
}

.registered-user-card-title {
	font-family: "Batman";
}

.registered-user-buttons {
	background-color: orange;
	color: #343a40;
	font-weight: bold;
	font-family: "Batman";
	border: 2px solid #343a40;
}

.registered-user-buttons:hover {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
	transition: 0.7s;
}

.registered-user-buttons:focus {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
}

.registered-user-buttons:active {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
}

.registered-users-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.page-link {
	background: #343a40;
	color: orange;
	border: 1px solid #343a40;
	font-weight: bold;
}

.page-link:hover {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-link:focus {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-link:active {
	background-color: orange;
	color: #343a40;
	transition: 0.7s;
}

.page-item.disabled .page-link {
	background: #343a40;
	color: orange;
	border: 1px solid #343a40;
	font-weight: bold;
}

.page-item.active .page-link {
	background-color: orange;
	color: #343a40;
	font-weight: bold;
}

.registered-users-pagination-padding {
	padding-top: 520px;
}

.registered-users-pagination-padding-normal {
	padding-top: 120px;
}
