.shopping-cart-card {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1em;
}

.total-price-td {
	font-weight: bold;
}

.checkout-btn {
	width: 100%;
	max-width: 200px;
	margin-top: 5px;
}

.container-table-footer {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}

.container-table-footer-list {
	display: flex;
	flex-direction: column;
}
