.sign-in-card {
	background-color: #343a40;
	color: orange;
	font-weight: bold;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 1em;
	text-align: left;
	border-collapse: collapse;
}

.sign-in-card-title {
	font-family: "Batman";
}

.sign-in-card-form {
	padding: 1em;
	border-collapse: collapse;
	max-width: 90%;
	font-weight: bold;
}

.input-field {
	color: #343a40;
	font-weight: bold;
}

.input-field-error-msg {
	font-weight: bold;
	color: orange;
}

.signin-btn {
	margin-top: 25px;
	background-color: orange;
	color: #343a40;
	font-weight: bold;
	font-family: "Batman";
	border: 2px solid #343a40;
}

.signin-btn:hover {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
	transition: 0.7s;
}

.signin-btn:focus {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
}

.signin-btn:active {
	background-color: #343a40;
	color: orange;
	border: 2px solid orange;
}

.Toastify__toast--error {
	background-color: orange !important;
	color: #343a40 !important;
	font-weight: bold !important;
}

.Toastify__close-button {
	color: #343a40 !important;
}
